
#pic1 {
    width: 250px;
    text-align: middle;
    margin: 0px;
}

h1 {
    margin: 0px;
    font-size: 22px;
    text-align: center;
}

div {
    color: #102598;
    text-align: center;
    margin: 5px;
}