* {
    margin: 2px;
}

body {
    background: url(images/background.jpg) no-repeat;
    background-size: 125%
}

#pic1 {
    width: 19%;
    text-align: middle;
    margin: 0px
}

h1 {
    margin: 0px;
    font-size: 22px;
    text-align: center
}

nav {
    margin:0% 5% 0% 15%;
    background-color:transparent;
    width: 70%;
    height: 60px 
}

nav ul {
    margin-left: 0px;
    
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 100%
}

li a {
    text-decoration: none;
    display:block;
    padding: 20px 20px; 
    font-size: 14px;
    font-family: arial;
    color: #161615
}

ul li a:hover {
    font-size: 18px;
    color: #140e5c
}

p a {
    color: #140e5c
}

.currentpage {
    font-style: italic;
    font-size: 16px
}
